numpy>=1.23.0
pandas>=1.5.0
matplotlib>=3.5.0
scikit-learn>=1.2.0
scipy

--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12]
gymnasium
sbx

torch>=2.0.0
torchvision>=0.15.0
torchaudio>=2.0.0
nvidia-cudnn-cu12>=8.9.0
nvidia-cublas-cu12>=12.1.0
nvidia-cufft-cu12>=11.0.0

seaborn>=0.12.0
tqdm>=4.64.0
ray>=2.5.0